.hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; 
    padding: 10px;
}

.hero div {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}


@media (max-width: 768px) {
    .hero {
        grid-template-columns: repeat(4, 1fr); 
      }
}


@media (max-width: 480px) {
    .hero {
        grid-template-columns: repeat(2, 1fr);}
    }